.bg-paper-content-btm {
    background: url(/static/img/long_paper_content.jpg) repeat-y right bottom;
    background-size: 100%;
}
.bg-torn-btm {
    background: url(/static/img/torn_paper_btm.png) no-repeat right top;
    background-size: 100%;
    padding-bottom: 40px;
}
.bg-torn-top {
    background: url(/static/img/torn_paper_top.png) no-repeat right bottom;
    background-size: 100%;
    padding-top: 48px;
    margin-bottom: -1px;
}
.bg-fantasy {
    background: url(/static/img/cozy_trail.jpg) no-repeat center fixed;
    background-size: cover;
}
.bg-card {
    background-color: #d6bc97;
    text-align: center;
}
.index-text p {
    font-size: 20px;
}

h1, h2, h3, h4, h5 {
    font-family: mrs-eaves-roman-small-caps, serif;
}
h1 {
    font-size: 72px;
    text-shadow: 4px 4px 3px #3a0f08;
}
h2 {
    font-size: 40px;
}
p {
    font-size: 18px;
    color: #58170D;
    font-family: ff-scala-sans-pro, sans-serif;
    text-indent: 30px;
}
img {
    width: 100%;
}

.img-i img{
    width: 90%;
}
.img-c img{
    width: 100%;
    height: 300px;
    object-position: 0% 90%;
    object-fit: cover;
}
.img-bs img {
    width:100%;
    height: 100%;
    object-position: 0px;
    object-fit: cover;
}
.dnd-red {
    color: #58170D;
}
.dnd-dark {
    color: #303030;
}

.bg-footer {
    background-color: #303030;
}

#portrait-container {
    position: relative;
    height: 600px;
}
#portrait-container img {
    opacity: 0;
    transition: opacity 2s;
    width: 100%;
    position: absolute;
}
#portrait-container img:first-child {
    opacity: 1;
}

#backstory-container {
    position: relative;
    width: 438px;
    height: 502px;
    margin: 0px;
}
#backstory-container img {
    position: absolute;
    width: 438px;
}

.frame-container {
    position: relative;
    display: flex;
    align-items: center;
}
.index-frame-container {
    position: absolute;
    z-index: 0;
}
.frame {
    position: absolute;
    z-index: 1;
}
.frame-img {
    width: 95%;
    margin: 0 auto;
    display: block;
}

#other-input {
    display: none;
  }
  