{% extends "layout.html" %}
{% block title %}{{ charName }}'s Backstory{% endblock %}    
{% block main %}
<div class="container-lg px-4">
    <div class="row text-center text-light gx-5" name="main-header">
        <div class="col d-none d-lg-block">
            <h1>The Legend of {{ charName }}</h1>
        </div>
        <div class="col d-lg-none">
            <h2 class="title">The Legend of {{ charName }}</h2>
        </div>
    </div>
    <div class="row bg-torn-top gx-5"></div>
    <div class="row bg-paper-content-btm  gx-5 pb-5">
        <div class="row py-4 dnd-red" name="paper-content-header">
            <div class="col text-center d-none d-lg-block">
                <h2>Your Adventure Awaits</h2>
            </div>
            <div class="col text-center d-lg-none">
                <h3>Your Adventure Awaits</h3>
            </div>
        </div>
        <div class="col">
            <p>{{ firstHalf }}</p>
            <p>{{ secondHalf }}</p>
        </div>
        <div class="col-12 col-lg-6 d-lg-block align-self-center" name="image-content-column">
            <img src="/static/img/watercolor/elf_druid_01.png">
            <div class="row dnd-red text-center pt-4">
                <div class="col">
                    <h3>Download your PDF here</h3>
                    <button class="btn btn-danger" id="download-pdf-button">Download</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row bg-torn-btm gx-5"></div>  
</div>
{% endblock %}