{% extends "layout.html" %}
{% block title %}A Hero is Born{% endblock %}
{% block main %}
<script src="/static/backstory.js"></script>
<script src="/static/loading.js"></script>
<div class="container-lg px-4">
    <div class="row text-center text-light gx-5" name="main-header">
        <div class="col d-none d-md-block">
            <h1>Bring Your Character to Life</h1>
        </div>
        <div class="col d-md-none">
            <h2 class="title">Bring Your Character to Life</h2>
        </div>
    </div>
    <div class="row bg-torn-top gx-5"></div>
    <div class="row bg-paper-content-btm dnd-red gx-5 p-4" name="paper-content-container">
        <div class="col">
            <div class="row py-4" name="paper-content-header">
                <div class="col text-center d-none d-md-block">
                    <h2>A Hero is Born</h2>
                    <h4>for best results, fill in all fields</h4>
                </div>
                <div class="col text-center d-md-none">
                    <h3>A Hero is Born</h3>
                    <h5>for best results, fill in all fields</h5>
                </div>
            </div>
            {% if debug %}
                <!-- DEBUG SWITCHES -->
                <script src="/static/debug.js"></script>

                <div class="row justify-content-center pb-4">
                    <div class="col-3 text-center">
                        <!-- AUTOFILL SWITCH -->
                        <div class="form-check form-switch me-5">
                            <input class="form-check-input" type="checkbox" role="switch" id="toggle">
                            <label class="form-check-label text-dark" for="toggle" id="autofill-state">DEBUG AUTOFILL</label>
                        </div>
                        <!-- DEBUG API SWITCH -->
                        <div class="form-check form-switch me-5">
                            <input class="form-check-input" type="checkbox" role="switch" id="switch-button">
                            <label class="form-check-label text-dark" for="switch-button" id="switch-state">DEBUG API: Off</label>
                        </div>
                    </div>
                </div>
            {% endif %}
            <form action="/create" method="POST" id="createBackstory">
            <div class="row gx-5" name="paper-content-body">
                <div class="col" name="form-content-column">
                    <div class="row gy-4">
                        <div class="col-12 col-lg-8">
                            <label class="form-label" for="charName">Character Name</label>
                            <input class="form-control" type="text" id="charName" name="charName" placeholder="ex. Barriston DeSaul" required>
                        </div>
                        <div class="col-12 col-lg-3">
                            <label class="form-label" for="charSex">Sex</label><br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="charSex" id="charSexM" value="He">
                                <label class="form-check-label" for="charSex">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="charSex" id="charSexF" value="She">
                                <label class="form-check-label" for="charSex">Female</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="charSex" id="charSexN" value="They">
                                <label class="form-check-label" for="charSex">Nonbinary</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label class="form-label" for="charRace">Race</label>
                            <select class="form-select" aria-label="Default select example" id="charRace" name="charRace">
                                <option selected>Choose your Race</option>
                                {% for race in races %}
                                    <option value="{{ race }}">{{ race }}</option>
                                {% endfor %}
                            </select><br>
                            <input class="form-control" type="text" id="race-input" placeholder="Enter your race" style="display:none;">
                        </div>
                        <div class="col-lg-6">
                            <label class="form-label" for="charClass">Class</label>
                            <select class="form-select" aria-label="Default select example" id="charClass" name="charClass">
                                <option selected>Choose your Class</option>
                                {% for class in classes %}
                                    <option value="{{ class }}">{{ class }}</option>
                                {% endfor %}
                            </select><br>
                            <input class="form-control" type="text" id="class-input" placeholder="Enter your class" style="display:none;">
                        </div>
                        <div class="col col-lg-8 col-xl-10 d-none d-lg-block align-self-center mx-auto gy-0">
                            <img src="/static/img/watercolor/swords_001.png">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 d-md-block align-self-center" name="image-content-column">
                    <img src="/static/img/watercolor/journey_so_far_003.png">
                </div>
            </div>
            <div class="row gy-4 pt-4">
                <div class="col-12 col-md-6 col-lg-4">
                    <h4>1. What is your character's primary motivation?</h4>
                    <label class="form-check-label ms-4" for="q1a1"><input class="form-check-input" type="radio" id="q1a1" name="q1" value="Power and control"> Power and control</label><br>
                    <label class="form-check-label ms-4" for="q1a2"><input class="form-check-input" type="radio" id="q1a2" name="q1" value="Wealth and success"> Wealth and success</label><br>
                    <label class="form-check-label ms-4" for="q1a3"><input class="form-check-input" type="radio" id="q1a3" name="q1" value="Adventure and excitement"> Adventure and excitement</label><br>
                    <label class="form-check-label ms-4" for="q1a4"><input class="form-check-input" type="radio" id="q1a4" name="q1" value="Protecting those they care about"> Protecting those they care about</label><br><br>

                    <h4>2. How do they feel about authority?</h4>
                    <label class="form-check-label ms-4" for="q2a1"><input class="form-check-input" type="radio" id="q2a1" name="q2" value="Respectful and obedient"> Respectful and obedient</label><br>
                    <label class="form-check-label ms-4" for="q2a2"><input class="form-check-input" type="radio" id="q2a2" name="q2" value="Indifferent and neutral"> Indifferent and neutral</label><br>
                    <label class="form-check-label ms-4" for="q2a3"><input class="form-check-input" type="radio" id="q2a3" name="q2" value="Skeptical and questioning"> Skeptical and questioning</label><br>
                    <label class="form-check-label ms-4" for="q2a4"><input class="form-check-input" type="radio" id="q2a4" name="q2" value="Defiant and rebellious"> Defiant and rebellious</label><br><br>
                    
                    <h4>3. How do they handle conflict?</h4>
                    <label class="form-check-label ms-4" for="q3a1"><input class="form-check-input" type="radio" id="q3a1" name="q3" value="Fair and diplomatic"> Fair and diplomatic</label><br>
                    <label class="form-check-label ms-4" for="q3a2"><input class="form-check-input" type="radio" id="q3a2" name="q3" value="Rational and logical"> Rational and logical</label><br>
                    <label class="form-check-label ms-4" for="q3a3"><input class="form-check-input" type="radio" id="q3a3" name="q3" value="Emotional and reactive"> Emotional and reactive</label><br>
                    <label class="form-check-label ms-4" for="q3a4"><input class="form-check-input" type="radio" id="q3a4" name="q3" value="Aggressive and confrontational"> Aggressive and confrontational</label><br><br>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <h4>4. What are their goals and aspirations?</h4>
                    <label class="form-check-label ms-4" for="q4a1"><input class="form-check-input" type="radio" id="q4a1" name="q4" value="To achieve greatness and fame"> To achieve greatness and fame</label><br>
                    <label class="form-check-label ms-4" for="q4a2"><input class="form-check-input" type="radio" id="q4a2" name="q4" value="To live a simple and peaceful life"> To live a simple and peaceful life</label><br>
                    <label class="form-check-label ms-4" for="q4a3"><input class="form-check-input" type="radio" id="q4a3" name="q4" value="To seek out new experiences and challenges"> To seek out new experiences and challenges</label><br>
                    <label class="form-check-label ms-4" for="q4a4"><input class="form-check-input" type="radio" id="q4a4" name="q4" value="To make a difference in the world"> To make a difference in the world</label><br><br>
                    
                    <h4>5. What are their weaknesses and flaws?</h4>
                    <label class="form-check-label ms-4" for="q5a1"><input class="form-check-input" type="radio" id="q5a1" name="q5" value="Pride and ego"> Pride and ego</label><br>
                    <label class="form-check-label ms-4" for="q5a2"><input class="form-check-input" type="radio" id="q5a2" name="q5" value="Greed and envy"> Greed and envy</label><br>
                    <label class="form-check-label ms-4" for="q5a3"><input class="form-check-input" type="radio" id="q5a3" name="q5" value="Anger and impulsivity"> Anger and impulsivity</label><br>
                    <label class="form-check-label ms-4" for="q5a4"><input class="form-check-input" type="radio" id="q5a4" name="q5" value="Self-doubt and insecurity"> Self-doubt and insecurity</label><br><br>
                    
                    <h4>6. How do they relate to others?</h4>
                    <label class="form-check-label ms-4" for="q6a1"><input class="form-check-input" type="radio" id="q6a1" name="q6" value="Supportive and compassionate"> Supportive and compassionate</label><br>
                    <label class="form-check-label ms-4" for="q6a2"><input class="form-check-input" type="radio" id="q6a2" name="q6" value="Practical and straightforward"> Practical and straightforward</label><br>
                    <label class="form-check-label ms-4" for="q6a3"><input class="form-check-input" type="radio" id="q6a3" name="q6" value="Mysterious and enigmatic"> Mysterious and enigmatic</label><br>
                    <label class="form-check-label ms-4" for="q6a4"><input class="form-check-input" type="radio" id="q6a4" name="q6" value="Flirtatious and charming"> Flirtatious and charming</label><br><br>
                </div>
                <div class="col-4 d-none d-lg-block align-self-center">
                    <img src="/static/img/watercolor/journey_so_far_002.png">
                </div>
                <div class="row justify-content-end pt-4" name="button-content">
                    <div class="col-3 text-center pb-4">
                        <button type="submit" class="btn btn-danger" id="createButton">Submit</button>
                    </div>
                    <div class="col-12 d-block d-lg-none align-self-center">
                        <img src="/static/img/watercolor/journey_so_far_002.png">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row bg-torn-btm gx-5"></div>
</div>
{% endblock %}