{% extends "layout.html" %}
{% block title %}Welcome to Character Background Generator{% endblock %}
{% block main %}
    <div class="container-lg">
        <div class="row text-center text-light pt-3">
            <h1>Creating Characters, Simplified</h1>
        </div>

        <div class="row bg-torn-top"></div>
        <div class="row bg-paper-content-btm pb-5">
            <div class="col ms-4 me-4">
                <h2 class="text-center dnd-red m-5">Frequently Asked Questions for the D&D Backstory Generator</h2>
                <div class="row">
                    <div class="col dnd-red">
                        <h4>What is the D&D Backstory Generator?</h4>
                        <p>
                            The D&D Backstory Generator is a tool that can help players create an original and 
                            unique origin story for their character. It offers a variety of options for customization, 
                            including the character's race, class, and name, as well as additional options for traits. 
                            This allows players to fully customize their character's backstory to their liking or 
                            simply let the generator surprise them. This tool aims to assist players in overcoming a 
                            lack of creativity and make their character's backstory memorable and compelling. Not only 
                            is it a valuable resource for players but also for DMs to flesh out their worlds, by 
                            providing a easy-to-use generator that can create a customized origin story that fits 
                            seamlessly into the campaign setting.
                        </p>
                        <h4>How do I use the D&D Backstory Generator?</h4>
                        <p>
                            After you create your account, you'll be able to select between three different options:
                            <i>The Adventurer's Package, The Hero's Journey or The Epic Saga.</i> Each tier offers additional
                            fine-tuning tools to dial in your character's backstory exactly how you'd like. Check out our
                            Pricing page for specific details.
                            "The Adventurer's Package" - This tier offers a basic option for generating a backstory using just the character's name, race and class.
                            "The Hero's Journey" - This tier offers the option of taking a personality quiz and more fine-tuning the backstory.
                            "The Epic Saga" - This tier offers the most advanced options for customization, including the character's home region, close family members and a mentor, for creating a fully fleshed out and personalized backstory.
                        </p>
                        <h4>How does it generate such incredible backstories?</h4>
                        <p>
                            The D&D Backstory Generator is designed to generate incredible backstories by using a combination 
                            of algorithms and curated content. The algorithm uses this information to create unique and compelling 
                            backstories based on the options you choose. It takes into account the different options you choose and 
                            creates a backstory that feels unique and personal to your character, making it stand out. Additionally, 
                            the AI is constantly being updated and tweaked so that it only gets better over time.
                        </p>
                    </div>
                    <div class="col four-container">
                        <img src="/static/img/lady_knight.png">
                        <img src="/static/img/giant_battle_01.png">
                    </div>
                </div>

            </div>
        </div>
        <div class="row bg-torn-btm">
        </div>

    </div>
{% endblock %}