{% extends "layout.html" %}
{% block title %}Welcome to Character Background Generator{% endblock %}
{% block main %}
    <div class="container-lg px-4">
        <div class="row text-center text-light gx-5">
            <div class="col d-none d-lg-block">
                <h1>Creating Backstories, Simplified</h1>
            </div>
            <div class="col d-lg-none">
                <h2 class="title">Creating Backstories, Simplified</h2>
            </div>
        </div>
        <div class="row bg-torn-top gx-5"></div>
        <div class="row bg-paper-content-btm gx-5 p-4">
            <div class="col dnd-red">
                <div class="row py-4" name="paper-content-header">
                    <div class="col text-center d-none d-lg-block">
                        <h2>Frequently Asked Questions</h2>
                    </div>
                    <div class="col text-center d-lg-none">
                        <h3>Frequently Asked Questions</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4>What is the D&D Backstory Generator?</h4>
                        <p>
                            The D&D Backstory Generator is a tool that can help you create an original and 
                            unique origin story for your character. All you need to do is give it your character's name, race and class and it can start creating amazing stories for you in no time. If you'd like a little more input, try out the personality quiz to help further define your character.
                        </p>
                        <p>
                            Not only is it a valuable resource for players but also for DMs to help flesh out the characters in your worlds, by providing an easy-to-use generator that can create a customized origin story that fits seamlessly into the campaign setting.
                        </p>
                        <h4>How do I use the D&D Backstory Generator?</h4>
                        <p>
                            <!-- After you create your account, you'll be able to select between three different options:
                            <i>The Adventurer's Package, The Hero's Journey or The Epic Saga.</i> Each tier offers additional
                            fine-tuning tools to dial in your character's backstory exactly how you'd like. Check out our 
                            <a href="/pricing" class="link-danger text-decoration-none">Pricing page</a> for specific details. -->
                            After you create your account, just head over to <a href="/create" class="link-danger text-decoration-none">Create Backstory</a> and give it a try! You can have a couple paragraphs written about your character in no time by just providing some basic information.
                        </p>
                        <h4>How does it generate such incredible backstories?</h4>
                        <p>
                            The D&D Backstory Generator is designed to generate incredible backstories by using a combination 
                            of algorithms and curated content. The algorithm uses this information to create unique and compelling 
                            backstories based on the options you choose. Additionally, the AI is constantly being updated and tweaked so that it only improves over time.
                        </p>
                    </div>
                    <div class="col-12 col-lg-6">
                        <img src="/static/img/watercolor/dwarf_fighter_01.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="row bg-torn-btm gx-5">
        </div>
    </div>
{% endblock %}