{% extends "layout.html" %}
{% block title %}Welcome to Character Background Generator{% endblock %}
{% block main %}
<div class="container-lg px-4">
    <div class="row text-center text-light gx-5">
        <div class="col d-none d-lg-block">
            <h1>Start the Journey</h1>
        </div>
        <div class="col d-lg-none">
            <h2 class="title">Start the Journey</h2>
        </div>
    </div>
    <div class="row bg-torn-top gx-5"></div>
    <div class="row bg-paper-content-btm gx-5 p-4">
        <div class="col dnd-red">
            <div class="row py-4" name="paper-content-header">
                <div class="col text-center d-none d-lg-block">
                    <h2>Login to Your Adventure</h2>
                </div>
                <div class="col text-center d-lg-none">
                    <h3>Login to Your Adventure</h3>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col col-sm-11 col-md-9 col-lg-8 col-xl-7 col-xxl-6 d-none d-sm-block">
                    <img class="login-img" src="/static/img/watercolor/login_tome.png">
                </div>
                <div class="col-12 d-block d-sm-none order-2">
                    <img src="/static/img/watercolor/backstory_tome.png">
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 align-items-center login-position pb-5">
                    <form action="/login" method="POST" id="login">
                        <div class="form-group">
                            <input type="text" class="form-control" id="username" placeholder="Username" required>
                        </div><br>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password" placeholder="Password" required>
                        </div><br>
                        <div class="row">
                            <div class="col-6">
                                <button type="submit" class="btn btn-danger">Login</button>
                            </div>
                    </form>
                            <div class="col-6 text-end">
                                <form action="/register" method="GET" id="register">
                                    <button type="submit" class="btn btn-primary">Register</button>
                                </form>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row bg-torn-btm gx-5"></div>
</div>
{% endblock %}