{% extends "layout.html" %}
{% block title %}Pricing Information{% endblock %}
{% block main %}
    <div class="container-lg">
        <div class="row text-center text-light pt-3">
            <div class="col">
                <h1>Upgrade Your Story</h1>
            </div>
        </div>

        <div class="row bg-torn-top"></div>
        <div class="row bg-paper-content-btm pb-5">
            <div class="col pt-4">
                <h2 class="text-center dnd-red">Unlock New Levels of Customization</h2>
                <div class="row p-3">
                    <div class="col">
                        <div class="card border-secondary">
                            <img src="/static/img/cozy_forest_trail.png" class="card-img-top" alt="...">
                            <div class="card-body bg-card">
                                <h3 class="card-title">Adventurer's Package</h3>
                                <p class="card-text" style="text-indent: 0px;">This tier offers a basic option for generating 
                                    a backstory using just the character's name, race and class.</p>
                                <ul class="list-group list-group-flush pb-4">
                                    <li class="list-group-item list-group-item-action list-group-item-warning">Generate a basic backstory using just the character's name, race and class</li>
                                    <li class="list-group-item list-group-item-action list-group-item-warning">Cost-effective option for players on a budget</li>
                                    <li class="list-group-item list-group-item-action list-group-item-warning">Perfect for players who want a quick and easy way to create a backstory</li>
                                    <li class="list-group-item list-group-item-action list-group-item-warning">ncludes options for race and class-specific information</li>
                                </ul>
                                <a href="#" class="btn btn-success">Select</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card border-secondary">
                            <img src="/static/img/epic_journey_01.png" class="card-img-top" alt="...">
                            <div class="card-body bg-card">
                                <h3 class="card-title">Hero's Journey</h3>
                                <p class="card-text" style="text-indent: 0px;">This tier offers the option of taking a personality quiz and 
                                    more fine-tuning the backstory.</p>
                                <ul class="list-group list-group-flush pb-4">
                                    <li class="list-group-item list-group-item-action list-group-item-warning">Take a personality quiz to fine-tune the backstory</li>
                                    <li class="list-group-item list-group-item-action list-group-item-warning">Add depth and complexity to your character's backstory</li>
                                    <li class="list-group-item list-group-item-action list-group-item-warning">Includes additional options for customization such as personal motivations and moral alignments</li>
                                    <li class="list-group-item list-group-item-action list-group-item-warning">Suitable for players who want more control over their character's backstory</li>
                                </ul>
                                <a href="#" class="btn btn-success">Select</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card border-secondary">
                            <img src="/static/img/dragon_battle.png" class="card-img-top" alt="...">
                            <div class="card-body bg-card">
                                <h3 class="card-title">Epic Saga</h3>
                                <p class="card-text" style="text-indent: 0px;">This tier offers the most advanced options for customization, 
                                    including the character's home region, close family members 
                                    and a mentor, for creating a fully fleshed out and personalized backstory.</p>
                                <ul class="list-group list-group-flush pb-4">
                                    <li class="list-group-item list-group-item-action list-group-item-warning">Advanced options for customization including character's home region, close family members and more</li>
                                    <li class="list-group-item list-group-item-action list-group-item-warning">Create a fully fleshed out and personalized backstory</li>
                                    <li class="list-group-item list-group-item-action list-group-item-warning">Suitable for players who want the most in-depth and detailed backstory</li>
                                    <li class="list-group-item list-group-item-action list-group-item-warning">Access to exclusive content and advanced customization options</li>
                                </ul>
                                <a href="#" class="btn btn-success">Select</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bg-torn-btm">
        </div>
    </div>
{% endblock %}