{% extends "layout.html" %}
{% block title %}Pricing Information{% endblock %}
{% block main %}
    <div class="container-lg">
        
        <div class="row text-center text-light pt-3">
            <div class="col">
                <h1>TEST PAGE</h1>
            </div>
        </div>

        <div class="row bg-torn-top"></div>
        
        <div class="row bg-paper-content-btm pb-5">
            <div class="col pt-4">
                <h2 class="text-center dnd-red">This IS a test!</h2>

                <div class="row p-3">
                    <h3 class="dnd-red text-center">COL 1</h3>
                    <img src="/static/img/dragon_eye.png">
                    <div class="position-relative">
                        <div class="position-absolute">
                            <img src="/static/img/dragon_eye.png">
                        </div>
                        <div class="position-absolute">
                            <img src="/static/img/polish/corner_tl.png">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row bg-torn-btm">
        </div>
    </div>
{% endblock %}