{% extends "layout.html" %}
{% block title %}Pricing Information{% endblock %}
{% block main %}
    <div class="container-lg">
        
        <div class="row text-center text-light pt-3">
            <div class="col">
                <h1>TEST PAGE</h1>
            </div>
        </div>

        <div class="row bg-torn-top"></div>
        
        <div class="row bg-paper-content-btm pb-5">
            <div class="col pt-4">
                <h2 class="text-center dnd-red">This IS a test!</h2>
                <div class="frame-container">
                    <img class="frame" src="/static/img/polish/wide_frame.png">
                    <img src="/static/img/cozy_forest_trail.jpg">
                </div>
            </div>
        </div>
        <div class="row bg-torn-btm">
        </div>
    </div>
{% endblock %}